<h1>Products Page</h1>

<section class="items-section">
    <article class="card" *ngFor="let item of items" [routerLink]="['/items', item.id]">
        <ng-container *ngIf="item.image && item.image.image">
            <img [src]="item.image.image" [alt]="item.name">
        </ng-container>
        <ng-container *ngIf="!item.image || !item.image.image">
            <div class="placeholder-div">Item Image</div>
        </ng-container>

        <div class="card-body">
            <h5> {{ item.name }}</h5>
            <app-label [label]="item.price + '$'"> </app-label>
        </div>
    </article>
</section>