.btn {
    background-color: #00805A;
    color: #FFFFFF;
    border-radius: 36px;
    padding: 10px 20px;
    text-align: center;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
}
