<section>
    <h1>Products Details</h1>

    <div class="item-container">
        <div class="image-container">
            <ng-container *ngIf="item.image && item.image.image">
                <img [src]="item.image.image" [alt]="item.name">
            </ng-container>
            <ng-container *ngIf="!item.image || !item.image.image">
                <div class="placeholder-div">Item Image</div>
            </ng-container>
    </div>
    <div class="item-details">
        <div *ngIf="isUserAuthenticated" class="edit-button" [routerLink]="['/items/edit', item.id]">
            <span>
                <span class="material-symbols-outlined">
                    edit_square
                    </span>
            </span>
            <span>Edit</span>
        </div>
        <h2>{{ item.name }} </h2>
        <p> {{ item.description }} </p>
        <h3> Price ${{ item.price}} </h3>
        <div class="cta-container">
            <app-label [label]="'CTA'" [customClass]="'cta-button'"></app-label>
        </div>
    </div>
    </div>
</section>
