h1 {
    color: #000430;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
p { 
    color: #171958;
    font-size: 1rem;
}

.item-container {
    display: flex;
    max-width: 1056px;
    gap: 67px;
    box-shadow: 0px 3px 6px #00000029;
    overflow: hidden;
    border-radius: 16px;
}

.image-container {
    min-width: 488px;
    max-width: 488px;
    background: #BCBBCD;
    color: #707070;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img {
    width: 100%;
}
.item-details {
    width: 480px;
    min-height: 628px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding:51px 45px 0 0;
}

.edit-button {
    position: absolute;
    top: 28px;
    right: 20px;
    display: flex;
    align-items: center;
    color: #878787;
    cursor: pointer;
}
.edit-button > span {
    padding: 2px;
}

.cta-container {
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 100%;
    height: 80px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 200,
    'opsz' 40
}

@media only screen and (max-width: 1300px) {
    .cta-container {
        position:static;
        max-width: 350px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1300px) {

    .item-container {
        flex-direction: column;
        gap: 16px;
        max-width: 400px;
    }

    .image-container {
        min-width: 100%;
        min-height: 488px;
    }


    .item-details {
        padding: 0 26px;
        max-width: 400px;
    }

    .edit-button {
        top: 0;
        right:  5px;
    }

    .cta-container {
        position:static;
        width: 100%;
    }
}

